:root {
    --bg-color: #313642;
    --bg-secondary-color: #3e4553;
    --text-primary-color: #fbfeff;

    --progress-bg: #60f38c;
    --progress-fill: #29cc5a;

    --btn-select: #5d6880;
    --more-btn: #aa9aff;

    --input-border: #4b5464;

    --dropdown-bg: #fbfeff;
    --dropdown-select: #e5e7e8;

    --confirm-card-bg: #4fd978;
    --confirm-card-active: #4ec572;
}

* {
    margin: 0px;
    padding: 0px;
}

.text {
    color: var(--text-primary-color);
}

body {
    background: var(--bg-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    font-family: "Mukta", sans-serif;
}

hr {
    width: 100%;
    height: 1px;

    margin-left: auto;
    margin-right: auto;

    background-color: var(--bg-secondary-color);
    filter: brightness(115%);
    border: none;
}

.container {
    width: 80%;
    padding-top: 40px;
}

.title > h1 {
    text-align: center;
    font-size: 58px;
    color: var(--text-primary-color);
}

.title > hr {
    width: 80%;
    height: 1px;

    margin-left: auto;
    margin-right: auto;

    background-color: var(--bg-secondary-color);
    filter: brightness(115%);
    border: 1px solid var(--bg-secondary-color);
    border-radius: 2px;

    margin-bottom: 80px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    gap: 48px;
    justify-items: center;
}

.add-btn {
    width: 60px;
    height: 60px;
    background-color: var(--more-btn);
    border-radius: 50%;

    position: fixed;
    bottom: 0;
    right: 0;

    display: grid;
    justify-content: center;
    align-items: center;
}

.add-btn {
    transform: translateX(-30px) translateY(-30px);
}

.add-img {
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;

    transform: 1.1s;
}

.add-btn:hover {
    cursor: pointer;
}

.add-img:hover {
    cursor: pointer;
    animation: hoverRotate 0.4s ease-in-out;
}

@keyframes hoverRotate {
    0% {
        rotate: 0rad;
    }
    50% {
        scale: 1.2;
    }
    100% {
        rotate: 180deg;
    }
}

.book-card {
    width: 400px;
    height: 220px;
    background-color: var(--bg-secondary-color);
    border: 1px solid var(--bg-secondary-color);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--text-primary-color);

    position: relative;
}

.book-card:hover:not(.inactive) {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.more-btn {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 4px;
    right: 10px;

    border-radius: 50%;
}

.more-btn:hover:not(.inactive) {
    cursor: pointer;
    background-color: var(--btn-select);
    animation: fadeIn 0.4s forwards;
}

.more-icon {
    width: 30px;
}

.icon-white {
    filter: invert(79%) sepia(7%) saturate(41%) hue-rotate(166deg)
        brightness(121%) contrast(105%);
}

@keyframes fadeIn {
    0% {
        background-color: var(--bg-secondary-color);
    }
    100% {
        background-color: var(--btn-select);
    }
}

.card-content {
    display: grid;
    grid-template-columns: 10fr 1fr 10fr;
}

.card-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}

.book-title {
    font-size: 24px;
    font-weight: 700;
}

.card-left > p {
    font-weight: 600;
}

.book-author {
    font-weight: 600;
}

.card-right {
    display: flex;
    flex-direction: column;
}

.text-pair {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-right hr {
    margin-bottom: 10px;
}

.progress-bar {
    width: 55%;
    height: 14px;
    background-color: var(--progress-bg);
    border-radius: 4px;

    position: relative;
}

.progress-fill {
    height: 100%;
    width: 44%;

    background-color: var(--progress-fill);
    border-radius: 4px 0px 0px 4px;
}

.progress-text {
    position: absolute;
    font-size: 11px;
    top: -2px;
    left: 14px;
}

.card-push-top {
    display: flex;
    flex-direction: column;
}

.card-push-bot {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.book-status {
    justify-self: flex-end;
}

@keyframes opacityFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

.add-pop-up {
    display: none;
}
.add-pop-up.active {
    position: fixed;

    width: 100vw;
    height: 100vh;

    min-width: 100vw;
    min-height: 100vh;

    background-color: rgba(0, 0, 0, 0.43);
    animation: opacityFadeIn 0.075s ease-in;

    display: flex;
    align-items: center;
    justify-content: center;
}

.pop-up-container {
    position: relative;

    width: 50vw;
    height: 26vw;

    width: 20vw;
    height: 28vw;

    min-height: 460px;
    min-width: 350px;
    padding: 24px 48px;

    background-color: var(--bg-secondary-color);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;

    animation: growIn 0.12s ease-in;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@keyframes growIn {
    0% {
        scale: 0.9;
    }
    100% {
        scale: 1;
    }
}
.pop-up-hr {
    font-size: 32px;
}

.pop-up-container > hr {
    margin-bottom: 24px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;

    justify-content: space-evenly;
}

.input-pair {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.input-pair > label {
    font-size: 18px;
}

.text-inp {
    border: 2px solid var(--input-border);
    border-radius: 4px;
    height: 28px;
    background-color: var(--bg-secondary-color);
    text-indent: 8px;

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.text-inp:focus {
    outline: none;
    border: 2px solid var(--more-btn);
    animation: textInputFocus 0.35s ease;
}

@keyframes textInputFocus {
    0% {
        border-color: var(--input-border);
    }
    100% {
        opacity: 100%;
        border: 2px solid var(--more-btn);
    }
}

#select-status {
    height: 400%;
}

a {
    text-decoration: none;
    color: #000000;
  }
  
  a:hover {
    color: #222222
  }
  
  /* Dropdown */
  
  .dropdown {
    position: relative;
  }
  
  .dd-button {
    border: 1px solid gray;
    border-radius: 4px;
    padding: 8px 20px;
    cursor: pointer;
    background-color: var(--dropdown-bg);

    color: var(--bg-color);
    font-size: 18px;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;

    display: inline;

    align-self: self-start;
    user-select: none;
    
  }

  .dd-button:hover {
    background-color: var(--dropdown-select);
  }

  .dd-menu {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
 
    margin: 12px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: var(--dropdown-bg);
    list-style-type: none;

    font-size: 16px;

    display: none;
  }

  .dd-menu.active {
    display: block;
  }

  .dd-menu > li {
    padding: 2px 6px;
    white-space: nowrap;
  }

  .dd-menu > li:hover {
    background-color: var(--dropdown-select);
    cursor: pointer;
  }
  
  .dd-menu > hr {
    width: 80%;
    background-color: var(--btn-select);
  }
  

  .dropdown2 {
    margin-left: auto;
  }

  .confirm-add-btn {
    margin-left: auto;

    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #00000000;
    border: 2px solid var(--confirm-card-bg);


    display: flex;
    align-items: center;
    justify-content: center;
  }

  .confirm-add-btn.valid {
    background-color: var(--confirm-card-bg);
  }

  .confirm-add-btn.valid > img {
    transform: 1.1s;
  }

  .confirm-add-btn.valid > img:hover {
    transform: scale(1.15);
    transition: all .2s ease-in-out;
  }

  .confirm-add-btn.valid:hover {
    background-color: var(--confirm-card-active);
    cursor: pointer;
  }